
<p id="notice"><%= notice %></p>
  
<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-12 top-padd" style="margin-top:50px">
          <h2>Listing all Articles</h2>
          <ul class = "quick-links">
        <% @articles.each do |article| %>
              <li>
                <span class="desig"><%= article.title %></span> <%= link_to 'View More', article %>
              </li>
            <% end %>
          </ul>
      </div>
      </div>
      </div></div>
    </div>
      
    

    
