<p id="notice"><%= notice %></p>
  
<div class="container top-pad">
      <div class="row"> 
        
        <div class="col-md-12 top-padd" style="margin-top:50px">
          <h2>Student News</h2>
          <ul class = "quick-links">
            <% @studentnews.each do |stnews| %>
              <li>
                <a href='<% if stnews.ispfd == true %><%= stnews.pdf_url %><% else %><%= stnews.linkd %><% end %>'>
                <%= raw(stnews.stnews) %>
              </li>
            <% end %>
          </ul>
      </div>
      </div>
      </div></div>
    </div>
      
    

    
