<p id="notice"><%= notice %></p>
  
<div class="container top-pad">
      <div class="row"> 
        <div class="col-md-12 top-padd" style="margin-top:50px">
          <h2><%= @gallery.title %></h2>
  
     <center>
		<br/>
		<%= image_tag  @gallery.image ,class:"col-md-12" %>
             <br/>  
	<a href="/galleries">     
            <button  class= "btn btn-danger form-control">
              Back to Gallery
            </button>
         </a>

  </center>
      </div>
      </div>
      </div></div>
    </div>
      
