<% content_for :title do %>Admission<% end %>
<div class="container top-pad">
			<div class="row">	
				<div class="col-md-3 top-padd" style="margin-top:35px">
					<h3>Admission</h3>
					<div class="list-group"><a href="ug" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Under Graduation
					  </button>
					  </a>
					  <a href="pg" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	Post Graduation
					  </button>
					</a>
					  <a href="nri" class="button">
					  <button type="button" class="list-group-item cus-but">
					  <span class="ghost"></span><span class="cir"></span>
					  	NRI and Foreign Nationals
					  </button>
</a>
					</div>
				</div>
					<div class="col-md-9 top-padd" style="margin-top:30px">
					<h2 class="col-md-12 col-sm-12 col-xs-12">Under Graduation</h2>
					<img src="/assets/admission/UG.jpg" width="840px" height="300px" class="col-md-12 col-sm-12 col-xs-12">
					<h2 class="col-md-12 col-sm-12 col-xs-12">Why CEG?</h2>
					<p align="justify" class="col-md-12 col-sm-12 col-xs-12">CEG is a renowned educational and research institute, historically dedicated
					to the pursuit of advancement in science and engineering. Students are continuously exploring new avenues of knowledge, guided by knowledgeable and experienced faculty. Outside academia, CEGians pursue their passions in writing, theatre, robotics and much more through a variety of clubs, attuning themselves to the world around them and emerging as well rounded students. A stellar placement record reflects CEG’s commitment for great career to all it’s students. </p>
					<h2 class="col-md-12 col-sm-12 col-xs-12">Full time</h2>
					<h2 class="col-md-12 col-sm-12 col-xs-12" style="font-size:20px">Eligibility</h2>
					<p align="justify" class="col-md-12 col-sm-12 col-xs-12">The admission to UG programmes is purely based on the
					marks obtained in the Higher Secondary examinations.</p>
					<h2 class="col-md-12 col-sm-12 col-xs-12" style="font-size:20px">Admission Process</h2>
					<p align="justify" class="col-md-12 col-sm-12 col-xs-12">The admission notice is published in all the leading
					news papers and in the University website.
					The admission of students to all the programmes is through a Single
					Window Admission System, administered by Anna University.
					The higher secondary marks are scaled to 200, based on which the merit
					list/ ranks are released.
					Counseling is conducted based upon the ranking.</p>
					<h2 class="col-md-12 col-sm-12 col-xs-12">Part time</h2>
					<h2 class="col-md-12 col-sm-12 col-xs-12" style="font-size:20px">Eligibility</h2>
					<p align="justify" class="col-md-12 col-sm-12 col-xs-12">Completion of Diploma with a minimum number of 2 gap
					years.</p>
					<h2 class="col-md-12 col-sm-12 col-xs-12"style="font-size:20px">Admission Process</h2>
					<p align="justify" class="col-md-12 col-sm-12 col-xs-12">Admission forms, applicable only to ACT, MIT and
					CEG. are released online in website in the month of October.
					Rank lists based upon the diploma score are hence released and
					counseling is conducted based upon the ranking.</p>
				</div>
			</div>
		</div>
			
		
